body {
    background-color: #FFF;
    color: white;
    font-size: 13px;
    line-height: 25px;
    font-family: "Segoe UI";
}

main {
    width: 100%;
    height: auto;
    margin: auto;
}

header {
    width: 92%;
    height: auto;
    padding: 30px 4%;
    background-color: #800080;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

header a {
    color: white;
}

.left {
    float: left;
}

.clear{
    clear: both;
    height: 1px;
    width: 100%;
}

.right {
    float: right;
    text-align: right;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    height: 40px;
    outline: none;
}

input[type="submit"]{
    width: 100%;
    height: 35px;
    cursor: pointer;
    color: white;
    background-color: #8A3F8D;
    border: none;
}

input[type="submit"]:hover{
    background-color: blueviolet;
}

.status {
    font-size: 15px;
    color: black;
    background-color: aquamarine;
}